The goal of this competition is to predict the sale price ("SalePrice") of each house in the test dataset. The scoring criteria is root-mean-square-error (the residuals), where the comparison is between the logs of the predicted and actual price, to put all house prices on an even scoring field.

Reading through the [data description,](https://www.kaggle.com/c/house-prices-advanced-regression-techniques/data) I'm thinking some things about the fields.
* The data might have a lot of missing or NA values. For example, not all houses have a basement, so fields like "BsmtQual," "BsmtCond," etc. won't have anything there. I'm going to need to clean it up or account for it in my models.
* Some of all of this data might have been entered by hand and may not have been cleaned up yet, so I'll need to look out for outliers, spelling errors, etc. and correct them.

Let's start exploring!

In [8]:
import pandas as pd
import matplotlib as plt

df = pd.read_csv("./data/train.csv",index_col="Id")

df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [9]:
df.tail()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

Since I think there might be missing values, I'm going to find out how many observations we should have.

Then I'm going to describe each column in the database. Hopefully the count matches up for each of them. `describe()` will provide other exploratory information, too, like the percentiles. We'll also find out how pandas determined the data types when it read in the csv. *Note here that the field name is listed below the information.*

In [10]:
len(df)

1460

In [11]:
col_list = list(df.columns.values)

for col in col_list:
    print(df[col].describe())

count    1460.000000
mean       56.897260
std        42.300571
min        20.000000
25%        20.000000
50%        50.000000
75%        70.000000
max       190.000000
Name: MSSubClass, dtype: float64
count     1460
unique       5
top         RL
freq      1151
Name: MSZoning, dtype: object
count    1201.000000
mean       70.049958
std        24.284752
min        21.000000
25%              NaN
50%              NaN
75%              NaN
max       313.000000
Name: LotFrontage, dtype: float64
count      1460.000000
mean      10516.828082
std        9981.264932
min        1300.000000
25%        7553.500000
50%        9478.500000
75%       11601.500000
max      215245.000000
Name: LotArea, dtype: float64
count     1460
unique       2
top       Pave
freq      1454
Name: Street, dtype: object
count       91
unique       2
top       Grvl
freq        50
Name: Alley, dtype: object
count     1460
unique       4
top        Reg
freq       925
Name: LotShape, dtype: object
count     1460
unique       4
top        Lvl
freq      1311
Name: LandContour, dtype: object
count       1460
unique         2
top       AllPub
freq        1459
Name: Utilities, dtype: object
count       1460
unique         5
top       Inside
freq        1052
Name: LotConfig, dtype: object
count     1460
unique       3
top        Gtl
freq      1382
Name: LandSlope, dtype: object
count      1460
unique       25
top       NAmes
freq        225
Name: Neighborhood, dtype: object
count     1460
unique       9
top       Norm
freq      1260
Name: Condition1, dtype: object
count     1460
unique       8
top       Norm
freq      1445
Name: Condition2, dtype: object
count     1460
unique       5
top       1Fam
freq      1220
Name: BldgType, dtype: object
count       1460
unique         8
top       1Story
freq         726
Name: HouseStyle, dtype: object
count    1460.000000
mean        6.099315
std         1.382997
min         1.000000
25%         5.000000
50%         6.000000
75%         7.000000
max        10.000000
Name: OverallQual, dtype: float64
count    1460.000000
mean        5.575342
std         1.112799
min         1.000000
25%         5.000000
50%         5.000000
75%         6.000000
max         9.000000
Name: OverallCond, dtype: float64
count    1460.000000
mean     1971.267808
std        30.202904
min      1872.000000
25%      1954.000000
50%      1973.000000
75%      2000.000000
max      2010.000000
Name: YearBuilt, dtype: float64
count    1460.000000
mean     1984.865753
std        20.645407
min      1950.000000
25%      1967.000000
50%      1994.000000
75%      2004.000000
max      2010.000000
Name: YearRemodAdd, dtype: float64
count      1460
unique        6
top       Gable
freq       1141
Name: RoofStyle, dtype: object
count        1460
unique          8
top       CompShg
freq         1434
Name: RoofMatl, dtype: object
count        1460
unique         15
top       VinylSd
freq          515
Name: Exterior1st, dtype: object
count        1460
unique         16
top       VinylSd
freq          504
Name: Exterior2nd, dtype: object
count     1452
unique       4
top       None
freq       864
Name: MasVnrType, dtype: object
count    1452.000000
mean      103.685262
std       181.066207
min         0.000000
25%              NaN
50%              NaN
75%              NaN
max      1600.000000
Name: MasVnrArea, dtype: float64
count     1460
unique       4
top         TA
freq       906
Name: ExterQual, dtype: object
count     1460
unique       5
top         TA
freq      1282
Name: ExterCond, dtype: object
count      1460
unique        6
top       PConc
freq        647
Name: Foundation, dtype: object
count     1423
unique       4
top         TA
freq       649
Name: BsmtQual, dtype: object
count     1423
unique       4
top         TA
freq      1311
Name: BsmtCond, dtype: object
count     1422
unique       4
top         No
freq       953
Name: BsmtExposure, dtype: object
count     1423
unique       6
top        Unf
freq       430
Name: BsmtFinType1, dtype: object
count    1460.000000
mean      443.639726
std       456.098091
min         0.000000
25%         0.000000
50%       383.500000
75%       712.250000
max      5644.000000
Name: BsmtFinSF1, dtype: float64
count     1422
unique       6
top        Unf
freq      1256
Name: BsmtFinType2, dtype: object
count    1460.000000
mean       46.549315
std       161.319273
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max      1474.000000
Name: BsmtFinSF2, dtype: float64
count    1460.000000
mean      567.240411
std       441.866955
min         0.000000
25%       223.000000
50%       477.500000
75%       808.000000
max      2336.000000
Name: BsmtUnfSF, dtype: float64
count    1460.000000
mean     1057.429452
std       438.705324
min         0.000000
25%       795.750000
50%       991.500000
75%      1298.250000
max      6110.000000
Name: TotalBsmtSF, dtype: float64
count     1460
unique       6
top       GasA
freq      1428
Name: Heating, dtype: object
count     1460
unique       5
top         Ex
freq       741
Name: HeatingQC, dtype: object
count     1460
unique       2
top          Y
freq      1365
Name: CentralAir, dtype: object
count      1459
unique        5
top       SBrkr
freq       1334
Name: Electrical, dtype: object
count    1460.000000
mean     1162.626712
std       386.587738
min       334.000000
25%       882.000000
50%      1087.000000
75%      1391.250000
max      4692.000000
Name: 1stFlrSF, dtype: float64
count    1460.000000
mean      346.992466
std       436.528436
min         0.000000
25%         0.000000
50%         0.000000
75%       728.000000
max      2065.000000
Name: 2ndFlrSF, dtype: float64
count    1460.000000
mean        5.844521
std        48.623081
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max       572.000000
Name: LowQualFinSF, dtype: float64
count    1460.000000
mean     1515.463699
std       525.480383
min       334.000000
25%      1129.500000
50%      1464.000000
75%      1776.750000
max      5642.000000
Name: GrLivArea, dtype: float64
count    1460.000000
mean        0.425342
std         0.518911
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         3.000000
Name: BsmtFullBath, dtype: float64
count    1460.000000
mean        0.057534
std         0.238753
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         2.000000
Name: BsmtHalfBath, dtype: float64
count    1460.000000
mean        1.565068
std         0.550916
min         0.000000
25%         1.000000
50%         2.000000
75%         2.000000
max         3.000000
Name: FullBath, dtype: float64
count    1460.000000
mean        0.382877
std         0.502885
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         2.000000
Name: HalfBath, dtype: float64
count    1460.000000
mean        2.866438
std         0.815778
min         0.000000
25%         2.000000
50%         3.000000
75%         3.000000
max         8.000000
Name: BedroomAbvGr, dtype: float64
count    1460.000000
mean        1.046575
std         0.220338
min         0.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         3.000000
Name: KitchenAbvGr, dtype: float64
count     1460
unique       4
top         TA
freq       735
Name: KitchenQual, dtype: object
count    1460.000000
mean        6.517808
std         1.625393
min         2.000000
25%         5.000000
50%         6.000000
75%         7.000000
max        14.000000
Name: TotRmsAbvGrd, dtype: float64
count     1460
unique       7
top        Typ
freq      1360
Name: Functional, dtype: object
count    1460.000000
mean        0.613014
std         0.644666
min         0.000000
25%         0.000000
50%         1.000000
75%         1.000000
max         3.000000
Name: Fireplaces, dtype: float64
count     770
unique      5
top        Gd
freq      380
Name: FireplaceQu, dtype: object
count       1379
unique         6
top       Attchd
freq         870
Name: GarageType, dtype: object
count    1379.000000
mean     1978.506164
std        24.689725
min      1900.000000
25%              NaN
50%              NaN
75%              NaN
max      2010.000000
Name: GarageYrBlt, dtype: float64
count     1379
unique       3
top        Unf
freq       605
Name: GarageFinish, dtype: object
count    1460.000000
mean        1.767123
std         0.747315
min         0.000000
25%         1.000000
50%         2.000000
75%         2.000000
max         4.000000
Name: GarageCars, dtype: float64
count    1460.000000
mean      472.980137
std       213.804841
min         0.000000
25%       334.500000
50%       480.000000
75%       576.000000
max      1418.000000
Name: GarageArea, dtype: float64
count     1379
unique       5
top         TA
freq      1311
Name: GarageQual, dtype: object
count     1379
unique       5
top         TA
freq      1326
Name: GarageCond, dtype: object
count     1460
unique       3
top          Y
freq      1340
Name: PavedDrive, dtype: object

/home/amy/anaconda3/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

count    1460.000000
mean       94.244521
std       125.338794
min         0.000000
25%         0.000000
50%         0.000000
75%       168.000000
max       857.000000
Name: WoodDeckSF, dtype: float64
count    1460.000000
mean       46.660274
std        66.256028
min         0.000000
25%         0.000000
50%        25.000000
75%        68.000000
max       547.000000
Name: OpenPorchSF, dtype: float64
count    1460.000000
mean       21.954110
std        61.119149
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max       552.000000
Name: EnclosedPorch, dtype: float64
count    1460.000000
mean        3.409589
std        29.317331
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max       508.000000
Name: 3SsnPorch, dtype: float64
count    1460.000000
mean       15.060959
std        55.757415
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max       480.000000
Name: ScreenPorch, dtype: float64
count    1460.000000
mean        2.758904
std        40.177307
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max       738.000000
Name: PoolArea, dtype: float64
count      7
unique     3
top       Gd
freq       3
Name: PoolQC, dtype: object
count       281
unique        4
top       MnPrv
freq        157
Name: Fence, dtype: object
count       54
unique       4
top       Shed
freq        49
Name: MiscFeature, dtype: object
count     1460.000000
mean        43.489041
std        496.123024
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max      15500.000000
Name: MiscVal, dtype: float64
count    1460.000000
mean        6.321918
std         2.703626
min         1.000000
25%         5.000000
50%         6.000000
75%         8.000000
max        12.000000
Name: MoSold, dtype: float64
count    1460.000000
mean     2007.815753
std         1.328095
min      2006.000000
25%      2007.000000
50%      2008.000000
75%      2009.000000
max      2010.000000
Name: YrSold, dtype: float64
count     1460
unique       9
top         WD
freq      1267
Name: SaleType, dtype: object
count       1460
unique         6
top       Normal
freq        1198
Name: SaleCondition, dtype: object
count      1460.000000
mean     180921.195890
std       79442.502883
min       34900.000000
25%      129975.000000
50%      163000.000000
75%      214000.000000
max      755000.000000
Name: SalePrice, dtype: float64

There are a few things I'm noticing in this dataset:
- It's mostly complete, but there are some that are missing a few values (LotFrontage, some of the fields about garages). Others are missing a lot of observations and have records that are largely incomplete (Alley, PoolQC, Fence, MiscFeature). FireplaceQu is missing about half.
- Some of the fields about quality are scored on a scale of 1-10. Others are scored on a 5-value scale from Ex (Excellent) to Po (Poor). I might handle this by converting it to a 1-5 scale.
    - Figuring this out required some help from the American Statistical Association's documentation on the [Ames Housing Data](https://ww2.amstat.org/publications/jse/v19n3/decock/datadocumentation.txt).
- There are descriptors I'll need to manage somehow; this will be a learning experience for me.